<!DOCTYPE html>
<html lang="ja" style="background-color:#F8E0E6;">
    <p>本サイトは「戦姫絶唱シンフォギア」公式とは何の関係もありません。<p>
    <h4>以下こまごまとした言い訳</h4>
    <ul>
        <li>制作者はプログラミング初心者のため環境対応もろもろはずさんです。すみません</li>
        <li>本編でのシュルシャガナのカットインの書体は「ユトリロ」なのですが、ユトリロは有料書体な上にwebでのレイアウトが上手くいかなかったので、持っている人でも表示されません。フォントについては妥協しまくっています。それでもうまく表示されない人は本当にすみません</li>
        <li>ダウンロード画像が見えている画像と食い違って変になる場合がありますが、原因がさっぱりわからないので了承ください。chrome推奨です</li>
    </ul>
<a href="/">戻る</a>
</html>