<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>シュルシャガナ風カットイン ジェネレーター</title>
    <link rel="stylesheet" href="css.css" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script type="text/javascript" src="js.js"></script>
    <meta name="viewport" content="initial-scale=1.0,width=700">
</head>
<body>
<div id="container">
    <header>
        <h1><a class="tytle" href="/">シュルシャガナ<span class="sakimori">風</span>カットインジェネレーター</a></h1>
        <p class="about">『戦姫絶唱シンフォギア』に登場する<a class="shirabe" href="http://www.symphogear-axz.com/characters/shirabe.php" target="blank">月詠調</a>のギア「シュルシャガナ」のカットインっぽいものが作れるわけだ(chrome推奨なわけだ)<p>
    </header>
    <section id="main">
        <div id="settings">
            <div id="c-type" class="select">
                <p>タイプを選んで</p>
                    <div>
                        <div class="cb"><label><div style="margin:auto;"><input type="radio" name="type" value="A" checked="checked">左右</div><div><img src="/image/typeA.jpg" width="80px"></div></label></div>
                        <div class="cb"><label><div style="margin:auto;"><input type="radio" name="type" value="B">左下</div><div><img src="/image/typeA.jpg" width="80px"></div></label></div>
                        <div class="cb"><label><div style="margin:auto;"><input type="radio" name="type" value="C">右上</div><div><img src="/image/typeA.jpg" width="80px"></div></label></div>
                    </div>
            </div>
            <div id="c-name" class="select">
                <p class="">技名を入力して</p>
                <div class="inputname"><input type="text" name="ta" class="tbox" value="非常Σ式"></div>
                <div class="inputname"><input type="text" name="tb" class="tbox" value="禁月輪"></div>
            </div>
            <div id="c-sound">
                <div class="sample">
                    <div class="oto">音は？</div>
                    <input type="radio" name="s2" id="on" value="1" checked="">
                    <label for="on" class="switch-on">鳴</label>
                    <input type="radio" name="s2" id="off" value="0">
                    <label for="off" class="switch-off">止</label>
                </div>
                    <!--
                    音声<label><input type="radio" name="sound" value="on" checked="checked">鳴らす</label>
                    <label><input type="radio" name="sound" value="off">オフ</label>
                    -->
            </div>

        </div>
        <div id="screen1">
            <img src="/image/default.png" id="preview">
            <div id="cutin1" class="cutin tate">
                <span class="text"></span>
            </div>
            <div id="cutin2" class="cutin tate">
                <span class="text"></span>
            </div>
            <div id="cutin3" class="cutin yoko">
                <span class="text"></span>
            </div>
            <div id="cutin4" class="cutin tate">
                <span class="text"></span>
            </div>
        </div>
        <div id="execute">
            <div id="button1">いくよっ</div>
            <div id="dl-button">
                <a id="download" href="#" download="cut_in.png">画像DL</a>
            </div>
            <div id="sns-button">
                
                <div class="sns-icon"><a href="https://twitter.com/intent/tweet?button_hashtag=%E3%82%B7%E3%83%A5%E3%83%AB%E3%82%B7%E3%83%A3%E3%82%AC%E3%83%8A%E9%A2%A8" class="twitter-hashtag-button" data-size="large" data-related="barbieri0303" data-url="http://sulsagana.red.anko" data-dnt="true" text="aaa">Tweet</a>
                </div>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <div class="sns-icon"><a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch-counter" data-hatena-bookmark-width="40" data-hatena-bookmark-height="40" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
                </div>
                <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                <div class="sns-icon"><div class="line-it-button" data-lang="ja" data-type="share-d" data-url="https://ide.c9.io/barbieri0303/sulsagana" style="display: none;"></div>
                </div>
                <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
            </div>
        </div>
    </section>
    <section id="tw">
        <div class="twitter">
            <a class="twitter-timeline"  href="https://twitter.com/hashtag/%E3%82%B7%E3%83%A5%E3%83%AB%E3%82%B7%E3%83%A3%E3%82%AC%E3%83%8A%E9%A2%A8" 
                data-widget-id="908341371257286661"
                data-height="600"
                data-width="230"
                >#シュルシャガナ風 のツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
        </div>
    </section>
    <footer>
        <div style="display:none;">
            <input type="file" accept="image/*" id="getfile">
        </div>
    </footer>
</div>


<script>
var file = document.querySelector('#getfile');

file.onchange = function (){
  var fileList = file.files;
  //読み込み
  var reader = new FileReader();
  reader.readAsDataURL(fileList[0]);

  //読み込み後
  reader.onload = function  () {
    document.querySelector('#preview').src = reader.result;
  };
  positionReset();
};
</script>

<audio id="sound1" preload="auto">
    <source src="/sound/hyoushigi2.mp3" type="audio/mp3">
</audio>
<audio id="sound2" preload="auto">
    <source src="/sound/beat00.mp3" type="audio/mp3">
</audio>

</body>
</html>
