

#container {
    height: 100%;
    margin: auto;
    max-width:1050px;
}

p {
    line-height: 0.5em;
}

header {
    margin-bottom: 5px;
    padding-bottom:5px;
    border-bottom:solid 2px #F8E0F7;
}

header h1{
    font-size:30px;
    color:#F5A9F2;

}



header a:link,#about a:visited{
    color:#F5A9F2;
}


#main{
    margin:auto;
    width:800px;
}



#settings{
    margin: 15px auto;
    overflow:auto;
}

.select{
    float:left;
    width:390px;
    padding-left:10px;
}

.cb {
    float:left;
    margin:0px 5px;
    
}

#screen1 {
    clear:both;
    margin: 10px auto;
    position: relative;
    height: 360px;
    width: 640px;
    background-color: #D8D8D8;
    /* background-image:url("../public/image/shirabe0.jpg"); */
    background-size: 640px;
}


#preview {
 display: block;
 margin-top:0px;
 margin-right: 0px;
 height:360px;
}

/*
position:absoluteの要素は強制的にblockになり
display: table-cell;　vertical-align: middle;が効かない。
その場合親要素をdisplay: table;としインラインの子要素にdisplay: table-cell;　vertical-align: middle;を書く
*/

#box1, #box2 {
    background-color:#000000;
    color:#ffffff;
    font-family: 'HG正楷書体-PRO', cursive;
    position: absolute;
    display: none;
}


.text {
    vertical-align: middle;
    display: table-cell;
}

.cutin1 {
    height: 360px;
    width: 150px;    
    top:-360px;
    left:0px;
    text-align:center;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-orientation:upright;    
}

.cutin2 {
    height: 360px;
    width: 150px;
    top:360px;
    left:490px;
    text-align:center;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-orientation:upright;    
}

.cutin3 {
    height: 120px;
    width: 640px;
    top:0px;
    left:-640px;
    text-align:left; 
}

.cutin4 {
    height: 360px;
    width: 150px;
    top:360px;
    left:490px;
    text-align:center;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-orientation:upright;
}

#execute {
    overflow:hidden;
    width:640px;
    margin:auto;
}

#download{
    float:left;
}

#button1 {
    width: 200px;
    height: 80px;
    background-color: #583f45;
    float:left;
}




.kirika{
    font-weight: bold;
    color:#04B404;
}

.sakimori{
    font-weight: bold;
    color:#0000FF;
}

.maria {
    font-weight: bold;
    color:#A4A4A4;   
}

.chris{
    color:#FE2E64;
    font-weight: bold;
}

.hibiki{
    color:#FACC2E;
    font-weight: bold;
}